<!DOCTYPE html>
<html>

  <head>
    <title>Spotify Song song_suggestor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    <nav>
      <a href="/" class="brand"><span>Spotify Song Suggestor</span></a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>

    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h2>List Of Songs</h2>
        <form action="/get_song_list" method="post">
          <input type="text" name="song_name" placeholder="Song to add">
          <input type="submit" value="Insert Song">
        </form>
      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>

</html>
