<!DOCTYPE html>
<html>

  <head>
    <title>Spotify Song song_suggestor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
  </head>

  <body>
    <nav>
      <a href="/" class="brand"><span>Spotify Song Suggestor</span></a>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h1>Output</h1>
        {% for song in songs %}
        <p>Test song </p>
        {% endfor %}
      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>

</html>
