<!DOCTYPE html>
<html>

  <head>
    <title>Spotify Song song_suggestor - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>

  <body>
    <nav>
      <a href="/" class="brand"><span>Spotify Song Suggestor</span></a>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h1>Suggested Song </h1>

       {% for model_song in model_output %}
       <p>{{df}}</p>
       <canvas id="{{ loop.index }}" width="600" height="400"></canvas>
       <script>
         // bar chart data
         var barData = {
           labels : [
             {% for item in labels %}
              "{{ item }}",
             {% endfor %}
     ],

           datasets : [{
             fillColor: "rgba(151,187,205,0.2)",
             strokeColor: "rgba(151,187,205,1)",
             pointColor: "rgba(151,187,205,1)",
             data : [
               {% for item in values %}
                  "{{ item }}",
                 {% endfor %}
         ]
             }
           ]
         }


          steps = 10
          max = {{max}}
          min = {{min}}

        // draw bar chart
        new Chart(document.getElementById("{{ loop.index }}").getContext("2d")).Line(barData, {
          scaleOverride: true,
          scaleSteps: steps,
          scaleStepWidth: Math.ceil(max / steps),
          scaleStartValue: -10,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          options: {
            title: {
                display: true,
                text: 'Custom Chart Title'
            }
          }
          }
        );

       </script>


       {% endfor %}


        <h1>Spotify API Songs</h1>
        {% for song in songs %}
        <p>{{song}}</p>
        {% endfor %}
      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>

</html>
