<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Song Song Suggester - {{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="{{ url_for('static',filename='lib/fontawesome-free-5.15.1-web/css/all.css') }}" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
          <a class="navbar-brand" href="/">Spotify Song Suggestor</a>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
              <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item">
                      <a class="nav-link text-light" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-light" href="https://github.com/Spotify0Song0Suggester/SpotifySongSugester">Github  &nbsp<i class="fab fa-github"></i></a>
                  </li>
              </ul>
          </div>
    </nav>
    <div  style="padding-left: 10px;">
    {% block content %}
      <div>
        <h1>Suggested Song</h1>

       {% for model_song in model_output %}

         {% if loop.first %}
            <p>Picked Song : {{model_song.name}}</p>
            <p>Artist(s) : {{model_song.artists}}</p>
         {% else %}
            <p>Song : {{model_song.name}}</p>
            <p>Artist(s) : {{model_song.artists}}</p>
         {% endif %}


       <canvas id="{{ loop.index }}" width="600" height="400"></canvas>
       <script>
         // bar chart data
         var barData = {
           labels : [
             {% for item in labels if item != "artists" and item != "name"%}
              "{{ item }}",
             {% endfor %}
           ],
           datasets: [
             {
               label: 'Original Song',
               data : [
                 {% for key in model_output[0] if key != "name" and key != "artists"%}
                    {{ model_output[0][key] }},
                 {% endfor %}
               ],
               fillColor: "	rgb(255, 69, 0, .2)"
             },
             {
               label: 'Suggested Song',
               data : [
                 {% for key in model_song if key != "name" and key != "artists"%}
                    {{ model_song[key] }},
                 {% endfor %}
               ],
               fillColor: "rgba(51, 102, 153,0.6)",
               strokeColor: "rgba(51, 102, 153,1)",
               pointColor: "rgba(51, 102, 153,1)",
             }
           ]
         }

          max = {{max}}
          min = {{min}}

        // draw bar chart
        new Chart(document.getElementById("{{ loop.index }}").getContext("2d")).Line(barData, {
          scaleStepWidth: Math.ceil(max / 10),
          scaleStartValue: 0,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          options: {
            scales: {
              yAxes: [{
                stacked: true
              }]
            }
          }
        });


       </script>
       {% endfor %}

        <h1>Spotify API Songs</h1>

        {% for song in songs %}
          <p>{{song}}</p>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html>
